# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/
.env/

# Django
db.sqlite3
db.sqlite3-journal
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Django local settings
ll_project/local_settings.py