{% extends 'learning_notes/base.html' %}
{% block page_header %}
<h1> Topics</h1>
{% endblock page_header %}
{% block content %}

<ul class="list-group border-bottom pb2 mb4">
    {% for topic in topics %}
    <li class="list-group-item border-0">
        <a href="{% url 'learning_notes:topic' topic.id %}">{{ topic.text }}</a>
    </li>
    {% empty %}
    <li class="list-group-item border-0">No topics have been added yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'learning_notes:new_topic' %}" class="btn btn-primary">Add a new topic</a>
{% endblock content %}